# Visual Studio configuration files.
/.vs/
/*.vcxproj.user

# Generated.
/*.vcxproj
/*.vcxproj.filters
/src/generated/

# Build directory.
/bin/
/build/

# Vcpkg dependencies.
/vcpkg_installed/

# Clangd.
/.cache/
/.clangd

# Xcode.
xcuserdata
