# Visual Studio configuration files.
/.vs/

# Generated.
/*.vcxproj
/*.vcxproj.filters
/*.vcxproj.user

# Build directory.
/out/
/LaterDarker/

# Vcpkg dependencies.
/vcpkg_installed/

# Clangd.
/.cache/
/.clangd

# Xcode.
xcuserdata
