# Visual Studio configuration files.
/.vs/

# Generated.
/*.vcxproj
/*.vcxproj.filters

# Build directory.
/out/

# Vcpkg dependencies.
/vcpkg_installed/

# Clangd.
/.cache/
/.clangd

# Xcode.
xcuserdata
